<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>ToyApp</title>
=======
  <title>First</title>
>>>>>>> b64f3554ac77c6eba0411a667afe639e5b6dad17
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
